#{extends 'main.html' /}
#{set title:'Tree' /}

#{set 'moreScripts'}
    #{script 'jquery.jstree.js'/}
    <script type="text/javascript">
        $(function(){
            $("#tree").jstree({
                themes : {theme:"apple"},
                json_data: {
                    ajax:{
                        url:"@{Tree.node}",
                        data:function(n){
                            return {path:"path_to_node"};
                        }
                    }
                },
                plugins:["themes","json_data"]
            });
        });
    </script>
#{/set}

<div id="tree" >
</div>
