<div style="vertical-align: center">
    <!--<img id="edit-tab-node-name" src="" style="padding-top: 4px"></img>-->
    <span id="edit-tab-node-name" class="ui-icon"> </span>
    <span class="tab-header">
        Название узла
    </span>
    <span class="tab-header-node-type">
        (org.raven.tree.impl.ContainerNode)
    </span>
</div>
<div style="margin-top: 10px"></div>
<div id="edit-tab-sections" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" tabindex="0">
        <span class="ui-icon ui-icon-triangle-1-s"></span>
        <a href="#">Описание</a>
    </h3>
    <div id="edit-tab-desc" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="" role="tabpanel">
        Здесь будет описание узла
    </div>
    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" tabindex="-1">
        <span class="ui-icon ui-icon-triangle-1-e"></span>
        <a href="#">Атрибуты</a>
    </h3>
    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; " role="tabpanel">
        Здесь будут нормальные атрибуты
    </div>
    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" tabindex="-1">
        <span class="ui-icon ui-icon-triangle-1-e"></span>
        <a href="#">Статистические атрибуты</a>
    </h3>
    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none; " role="tabpanel">
        Здесь будут readonly атрибуты
    </div>
</div>