/* 
    Document   : raven-editor
    Created on : Dec 29, 2013, 9:00:08 PM
    Author     : tim
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

raven-editor {
    width: 100%;
    height: 100%;    
}

tab-with-changes {
  color: blue;
}

raven-editor-tab {
    width: 100%;
    height: 100%;
}

.center {
  text-align: center;
  vertical-align: top;
}

.editor-loading-image {
  margin-right: 5px;  
  top:4px;
}

.editor-content-loading {
    background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}