.raven-warning {
    background: url('../images/exclamation_octagon_fram.png') no-repeat left center;
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    min-height: 20px;
    font-size: 1.3em;
}

.copy-elements {
    background: transparent url('../images/add.png') no-repeat left center;
    height: 16px;
    width: 16px;
    opacity: 0.70;
    position: absolute;
    z-index: 10000;
}

.start-node {
    background: transparent url('../images/start.png') no-repeat left center;
    height: 16px;
    width: 16px;
    position: absolute;
    z-index: 10000;
}

.stop-node {
    background: transparent url('../images/stop.png') no-repeat left center;
    height: 16px;
    width: 16px;
    position: absolute;
    z-index: 10000;
}

.view-node-icon {
    background: transparent url('../images/view.png') no-repeat center center;
    height: 16px;
    width: 16px;
}

.edit-node-icon {
    background: transparent url('../images/edit.png') no-repeat center center;
    height: 16px;
    width: 16px;
}

/*
.stoped-node {
    color: darkgray;
    opacity: 0.50;
}
*/
li[started="0"] > a {
    color: darkgray;
    opacity: 0.50;
}

body {
	margin: 0;
	padding: 0 0 20px;
	background: transparent url('../images/body_bg.jpg') no-repeat center top;
	min-height: 100%;
	/* font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif"; */
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

.ui-layout-pane { /* all 'panes' */
    background: #FFF;
    border: 1px solid #BBB;
    padding: 10px;
    overflow: auto;
}

.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDD;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
}
